/* font family */

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  nav>h1{
    margin-top: 100px;
    margin-left: 215px;
    margin-bottom: 185px;
    color: #181818;
  }
  .letter-customise{
     color: #FD6E0A;
  }
  /* navigation */

 
  nav>ul{
 
    list-style: none;
  }
  nav>ul>li>a{
    color: #181818;
    text-decoration: none;
    
  }
  nav{
    display: flex;
    justify-content: space-between;
   
  }
nav>ul {
    margin-bottom: 47px;
    margin-right: 241px;
    align-items: center;
    display: flex;
  }
  nav>ul>li{
   
    margin: 10px;
  }
  .btn-customise{
    border-color: #FD6E0A;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    background-color: #FD6E0A;
    color: #181818;
  }


  /*  header-div */
  .child{
    margin-left: 215px;
    margin-bottom: 191px ;
  }
  .scondry{
   
    font-weight: 500;
    font-size: 45px;
    color:#474747;
  }
  .primary{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
  }
  .child>p{
     margin-top: 9px;
     margin-bottom: 41px;
    color: #474747;
  }
  .btn-contact{
    margin-left: 20px;
    background-color: white;
    color: #FD6E0A;
    padding: 10px;
    border-color: #FD6E0A;
    border-radius: 10px;
  }
  .parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hardy{
    height: 676px;
    width: 584px;
  }

  .header{
    background-image: url(../developer.png), url(../header_bg.png);
    background-repeat: no-repeat;
    background-position:  left  , right bottom ;
  }